html{
    display:contents;
    text-align:center;
    justify-content: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 0.5cm;
    margin-bottom: 1cm;
    line-height: 30px;
}

header{
    font-size: 40px;
    padding: 10px;
    text-align: center;
}

.ques{
    margin: auto;
    background-color: rgb(221, 221, 221);
    width: 600px;
    padding: 50px;
    box-shadow: 5px 5px 5px black;
    text-align: left;
    font-size: 20px;
}

.ques input{
    display: block;
    margin: 15px auto;
    margin-bottom: 25px;
    padding: 8px;
    border-radius: 15px;
    box-shadow: 1px 1px 1px black;
    text-align: center;
    background: none;
    font-size: 15px;
    outline: none;
}

.ques input[type="text"]{
    border: 2px solid gray;
    width: 200px;
}

.ques input[type="text"]:focus{
    border-color: lightgreen;
    width: 250px;
    transition: 0.5s;
}

.ques input[type="submit"]{
    margin: 50px auto;
    width: 80px;
    border: 2px solid lightgreen;
    cursor: pointer;
}

.ques input[type="submit"]:hover{
    background-color: lightgreen;
    width: 120px;
    transition: 0.5s;
}

.h{
    margin: auto;
    text-align: left;
    padding-bottom: 35px;
    padding-top: 50px;
    font-size: 30px;
    font-style: italic;
    line-height: 2cm;
}

.h1{
    margin: auto;
    text-align: left;
    padding-bottom: 35px;
    padding-top: 50px;
    font-size: 30px;
    font-style: italic;
    line-height: 2cm;

}
